<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/icons/icon_dark.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body class="bg-zinc-200 dark:bg-zinc-800">
    <nav id="navbar">
      <%- include('partials/navbar.html', { name: navbarBadge }); %>
    </nav>
    <div id="main" class="mt-14 mb-2 mx-2 absolute" style="height: calc(100vh - 4rem); width: calc(100vw - 1rem)">
      <p x-data x-cloak x-show="$store.receiver.mode === 'loading'" class="text-neutral-800 dark:text-slate-200">
        Connecting to server...
      </p>
      <div x-data x-cloak x-show="$store.receiver.error">
        <div
          class="absolute top-2 left-2 right-2 flex bg-red-700 dark:bg-red-400 text-slate-100 dark:text-gray-900 p-2 rounded"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-8 h-8 mr-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
            />
          </svg>
          <div class="flex justify-between items-top flex-1">
            <span>
              Error while connecting to client:
              <span x-text="$store.receiver.error"></span>
            </span>
            <button @click="$store.receiver.error = undefined" class="h-6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div x-data x-show="$store.receiver.mode === 'active'" class="w-full h-full">
        <header class="flex justify-between items-start">
          <p class="text-neutral-800 dark:text-slate-200 text-xl">
            RoomID: <span x-text="$store.receiver.myId"></span>
          </p>
          <button
            @click="$store.receiver.leave()"
            class="active:scale-95 group px-6 py-2 bg-indigo-700 hover:bg-indigo-800 rounded text-lg font-semibold flex items-center text-slate-100"
          >
            Leave
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 ml-2 group-hover:translate-x-2 transition-transform"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"
              />
            </svg>
          </button>
        </header>
        <div id="videoOut" class="relative mt-4" style="max-height: calc(100vh - 8rem)">
          <video id="remoteVideo" class="block mx-auto" autoplay playsinline></video>
        </div>
      </div>
    </div>
    <footer id="footer"><%- include('partials/footer.html'); %></footer>
    <script type="module" src="/src/receive.ts"></script>
  </body>
</html>
